In [46]:
# 1. Write a program to reverse a string.
s1="pwskills"
s1[::-1]

'sllikswp'

In [47]:
# 2. Check if a string is a palindrome.
s2="madam"
if s2==s2[::-1]:
    print("string is palindrome")
else:
    print("string is not palindrome")

string is palindrome

In [48]:
# 3. Convert a string to uppercase.
s3="python"
s3.upper()

'PYTHON'

In [49]:
# 4. Convert a string to lowercase.
s4="I am learning full Stack Data Science"
s4.lower()

'i am learning full stack data science'

In [50]:
# 5. Count the number of vowels in a string.
s5="my name is santhosh"
vowel=0
for v in s5:
    if(v=='a'or v=='e'or v=='i'or v=='o'or v=='u'or v=='A'or v=='E'or v=='I' or v=='O' or v=='U'):
        vowel=vowel+1
print("the number of vowels are:",vowel)

the number of vowels are: 5

In [51]:
# 6. Count the number of consonants in a string.
s5="my name is santhosh"
vowel=0
conse=0
for v in s5:
    if(v=='a'or v=='e'or v=='i'or v=='o'or v=='u'or v=='A'or v=='E'or v=='I' or v=='O' or v=='U'):
        vowel=vowel+1
    else:
        conse=conse+1
print("the number of cosnonent are:",conse)

the number of cosnonent are: 14

In [52]:
#7. Remove all whitespaces from a string.
s6="     i am learning python     "
s7=s6.strip()
print("output is:",s7)

output is: i am learning python

In [53]:
# 8. Find the length of a string without using the `len()` function.
s8="i am doing python assignment"
count=0
for i in s8:
    count=count+1
print(count)

28

In [54]:
# 9. Check if a string contains a specific word.
s9="Full Stack Data Science Pro"
if "S" in s9:
    print("string contains word")
else:
    print("no word")

string contains word

In [55]:
# 10. Replace a word in a string with another word.
s9.replace("Pro","program")

'Full Stack Data Science program'

In [56]:
# 11. Count the occurrences of a word in a string.
s10="Acquire end-to-end expertise" 
s10.count('end')

2

In [57]:
# 12. Find the first occurrence of a word in a string.
s10.find("end")

8

In [58]:
# 13. Find the last occurrence of a word in a string.
s10.rfind("end")

15

In [59]:
# 14. Split a string into a list of words.
s10.split(" ")

['Acquire', 'end-to-end', 'expertise']

In [60]:
# 15. Join a list of words into a string.
s11="data", "exploration", "and","engineering", "to", "machine", "learning"
' '.join(s11)

'data exploration and engineering to machine learning'

In [34]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
def underscore(text):
    under_seperated=text.replace(" ","_")
    return under_seperated
text="i am santosh"
converted_text=underscore(text)
print(converted_text)

i_am_santosh

In [62]:
# 17. Check if a string starts with a specific word or phrase.
s10.startswith("Acquire")

True

In [63]:
# 18. Check if a string ends with a specific word or phrase.
s10.endswith("expertise")

True

In [64]:

#19. Convert a string to title case (e.g., "hello world" to "Hello World").
s13="hello world"
s13.title()

'Hello World'

In [65]:
#20. Find the longest word in a string.
s14="A123 platform where 123 you will explore, experiment"
s15=s14.split()
longest=max(s15,key=len)
print(longest)

experiment

In [66]:
#21. Find the shortest word in a string.
shortest=min(s15,key=len)
print(shortest)

123

In [67]:
#22. Reverse the order of words in a string.
x="python programming language"
a=x.split()
a.reverse()
print(' '.join(a))

language programming python

In [68]:
# 23. Check if a string is alphanumeric.
s16="abc123ede234"
s16.isalnum()

True

In [69]:
#24. Extract all digits from a string.
s18="there are 30 members"
dig=[]
for x in s18:
    if x.isdigit():
      dig.append(int(x))  
print(dig)

[3, 0]

In [70]:
#25. Extract all alphabets from a string.
s18="there are 30 members"
dig=[]
for x in s18:
    if x.isalpha():
      dig.append(x)  
print(dig)

['t', 'h', 'e', 'r', 'e', 'a', 'r', 'e', 'm', 'e', 'm', 'b', 'e', 'r', 's']

In [71]:
#26. Count the number of uppercase letters in a string.
#27. Count the number of lowercase letters in a string.
s17="Full Stack Data Science"
upper=0
lower=0
for x in s17:
    if x.isupper():
        upper=upper+1
    else:
        lower=lower+1
print("uppercase letter",upper)
print("uppercase letter",lower)

uppercase letter 4
uppercase letter 19

In [72]:
#28. Swap the case of each character in a string.
s17.swapcase()

'fULL sTACK dATA sCIENCE'

In [73]:
#29. Remove a specific word from a string.
s17.replace("Stack","")

'Full  Data Science'

In [37]:
#30. Check if a string is a valid email address.
import re
def is_valid_email(email):
    patteren=r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(patteren,email):
        return True
    else:
        return False
email1="example@gmail.com"
email2="invalied-email"
result1=is_valid_email(email1)
result2=is_valid_email(email2)
print(result1)
print(result2)

True
False

In [43]:
#31. Extract the username from an email address string.

def extract_username(email):
    username=email.split('@')[0]
    return username
email1="example@gmail.com"
result1=extract_username(email1)
print(result1)

example

In [42]:
#32. Extract the domain name from an email address string.
def extract_domainname(email):
    domainname=email.split('@')[1]
    return domainname
email1="example@gmail.com"
result2=extract_domainname(email1)
print(result2)

gmail.com

In [44]:
#33. Replace multiple spaces in a string with a single space.
string12="hello    world how   are   you"
string13=string12.split()
final_string=' '.join(string13)
print(final_string)

hello world how are you

In [48]:
#34. Check if a string is a valid URL.
from urllib.parse import urlparse
def valid_url(url):
    try:
        result=urlparse(url)
        return all([result.scheme,result.netloc])
    except ValueError:
        return False
url1="https://example@gmail.com"
url2="invalied-email"
result1=valid_url(url1)
result2=valid_url(url2)
print(result1)
print(result2)

True
False

In [1]:
#35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

u1 = "https://www.example.com"
u2 = "http://google.com"
u3 = "ftp://ftp.example.com"
protocol1 = extract_protocol(u1)
protocol2 = extract_protocol(u2)
protocol3 = extract_protocol(u3)
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [3]:
#36. Find the frequency of each character in a string.
string="hello pwskills"
for i in string:
    frequency=string.count(i)
    print(str(i)+":"+str(frequency))

h:1
e:1
l:4
l:4
o:1
 :1
p:1
w:1
s:2
k:1
i:1
l:4
l:4
s:2

In [6]:
#37. Remove all punctuation from a string.
import string
def remove_punctuation(input_string):
    
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string
input_str = "Hello, world! How's it going?"
cleaned_str = remove_punctuation(input_str)
print("Cleaned string:", cleaned_str)

Cleaned string: Hello world Hows it going

In [9]:
#38. Check if a string contains only digits.
string1="123"
string2="hello123"
onlydigits=string1.isdigit()
print(f"'{string1}' contains only digits:", onlydigits)
onlydigits1=string2.isdigit()
print(f"'{string2}' contains only digits:", onlydigits1)

'123' contains only digits: True
'hello123' contains only digits: False

In [11]:
#39. Check if a string contains only alphabets.
string1="abc"
string2="hello123"
onlydigits=string1.isalpha()
print(f"'{string1}' contains only digits:", onlydigits)
onlydigits1=string2.isalpha()
print(f"'{string2}' contains only digits:", onlydigits1)

'abc' contains only digits: True
'hello123' contains only digits: False

In [13]:
# 40. Convert a string to a list of characters.
string3="hello world"
listofchar=list(string3)
print(listofchar)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [5]:
#41. Check if two strings are anagrams.
def check(s1, s2):
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams")
    else:
        print("The strings aren't anagrams")      
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"
result1=check(string1,string2)
print(result1)

The strings are anagrams
None

In [18]:
#42. Encode a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [20]:
#43. Decode a Caesar cipher encoded string.
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [22]:
#44. Find the most frequent word in a string.
import re
from collections import Counter

def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word
input_str = "Hello world, hello there! How's the world?"
most_common = most_frequent_word(input_str)
print("Most frequent word:", most_common)

Most frequent word: hello

In [23]:
#45. Find all unique words in a string.
import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())
    return words
input_str = "Hello world, hello there! How's the world?"
unique_word_set = unique_words(input_str)
print("Unique words:", unique_word_set)

Unique words: {'world', 'there', 'hello', 'hows', 'the'}

In [24]:
#46. Count the number of syllables in a string
import re
def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)
word1 = "hello"
word2 = "banana"
word3 = "syllable"
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [25]:
# 47. Check if a string contains any special characters.
import re
def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [26]:
# 48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    words = input_string.split()
    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)
        return modified_string, removed_word
    else:
        return None, None
input_str = "This is an example sentence to test the function."
n_value = 4
modified_str, removed_word = remove_nth_word(input_str, n_value)
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [ ]:
# 49. Insert a word at the nth position in a string.
def insert_word_at_n(input_string, word_to_insert, n):
    words = input_string.split()
    if n >= 0 and n <= len(words):
        words.insert(n, word_to_insert)
        modified_string = ' '.join(words)
        return modified_string
    else:
        return None
input_str = "This is a test string."
word_to_insert = "sample"
n_value = 3
modified_str = insert_word_at_n(input_str, word_to_insert, n_value)
print("Original string:", input_str)

In [27]:
#50. Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
list_of_lists = csv_string_to_list(csv_data)
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [75]:
#list based practice problem:
#1. create  a list with integers 1 to 10
#l=[1,2,3,4,5,6,7,8,9,10]
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
#2.Find the length of a list without using the `len()` function.
count=0
for v in l:
    count=count+1
print("the length of list is:",count)

the length of list is: 10

In [78]:
# 3.Append an element to the end of a list.
l.append(11)

In [79]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [80]:
#4. Insert an element at a specific index in a list.
l.insert(5,12)

In [81]:
l

[1, 2, 3, 4, 5, 12, 6, 7, 8, 9, 10, 11]

In [82]:
#5.Remove an element from a list by its value.
l.remove(12)

In [83]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [84]:
#6. Remove an element from a list by its index.
l.pop(6)

7

In [85]:
l

[1, 2, 3, 4, 5, 6, 8, 9, 10, 11]

In [86]:
#7. Check if an element exists in a list.
i=9
if i in l:
   print("element exists")
else:
    print("elemnt not exists")

element exists

In [87]:
# 8. Find the index of the first occurrence of an element in a list.
l1=[1,2,3,4,2,3,5,6,3]
l1.index(2)

1

In [88]:
# 9. Count the occurrences of an element in a list.
l1.count(3)

3

In [89]:
# 10. Reverse the order of elements in a list.
l.reverse()

In [90]:
l

[11, 10, 9, 8, 6, 5, 4, 3, 2, 1]

In [91]:
# 11.Sort a list in ascending order.
l.sort()

In [92]:
l

[1, 2, 3, 4, 5, 6, 8, 9, 10, 11]

In [93]:
# 12.Sort a list in descending order.
l.sort(reverse=True)

In [94]:
l

[11, 10, 9, 8, 6, 5, 4, 3, 2, 1]

In [95]:
# 13 Create a list of even numbers from 1 to 20.
l2=[]
for i in range(2,21,2):
    l2.append(i)
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [96]:
# 14 Create a list of odd numbers from 1 to 20.
l3=[]
for i in range(1,20,2):
    l3.append(i)
print(l3,end=" ")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [97]:
# 15. Find the sum of all elements in a list.
sum=0
for v in l:
    sum=sum+v
print("the sum of elements is:",sum)

the sum of elements is: 59

In [98]:
l

[11, 10, 9, 8, 6, 5, 4, 3, 2, 1]

In [99]:
#16 Find the maximum value in a list.
maximum=max(l)
print("maximum value is:",maximum)

maximum value is: 11

In [100]:
# 17 Find the minimum value in a list.
minimum=min(l)
print("minimum value is:",minimum)

minimum value is: 1

In [101]:
#18 Create a list of squares of numbers from 1 to 10.
l4=[]
for i in range(1,11):
    squares=i**2
    l4.append(squares)
    print(squares,end=" ")

1 4 9 16 25 36 49 64 81 100

In [102]:
l4

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [103]:
# 19. Create a list of random numbers.
import random
rand=[]
for i in range(10):
    rand.append(random.randint(3,9))
    print(rand)

[5]
[5, 4]
[5, 4, 6]
[5, 4, 6, 3]
[5, 4, 6, 3, 8]
[5, 4, 6, 3, 8, 9]
[5, 4, 6, 3, 8, 9, 9]
[5, 4, 6, 3, 8, 9, 9, 6]
[5, 4, 6, 3, 8, 9, 9, 6, 5]
[5, 4, 6, 3, 8, 9, 9, 6, 5, 3]

In [104]:
#20. Remove duplicates from a list.
l5=[1,2,3,4,1,2,3,5,6]

In [105]:
dup=set(l5)
print("after remvoing duplicates\n:",dup)

after remvoing duplicates
: {1, 2, 3, 4, 5, 6}

In [106]:
#21 Find the common elements between two lists.
l6=[1,2,3,4,5,"don"]
l7=[7,6,5,4,3,"don"]
common_list = [x for x in l6 if x in l7]
print("common elements",common_list)

common elements [3, 4, 5, 'don']

In [18]:
# 22. Find the difference between two lists.
list50=[10,20,30,40]
list51=[30,40,50,60]
difference=list(set(list50).difference(list51))
print(difference)

[20, 10]

In [108]:
# 23. Merge two lists.
l8=l6+l7
print(l8)

[1, 2, 3, 4, 5, 'don', 7, 6, 5, 4, 3, 'don']

In [109]:
# 24. Multiply all elements in a list by 2.
# for v in l5:
for v in l5:
    t= v*2
    print(t,end=" ")

2 4 6 8 2 4 6 10 12

In [110]:
# 25. Filter out all even numbers from a list.
l9=[1,2,3,4,5,6,7,8,9,10]
even=[]
for v in l9:
    if v%2==0:
       even.append(v)
print("even numbers:",even)

even numbers: [2, 4, 6, 8, 10]

In [118]:
# 26. Convert a list of strings to a list of integers.
st=['1','2','3']
for x in st:
    print(int(x),end=" ")

1 2 3

In [117]:
# 27. Convert a list of integers to a list of strings.
nt=[1,2,3]
for x in nt:
    print(str(x),end=" ")

1 2 3

In [21]:
#28. Flatten a nested list
nested_list=[[1,2,3],[4,5],[6,7,8]]
def flatten_list(nested):
    flattend=[]
    for sublist in nested:
        if isinstance(sublist,list):
            flattend.extend(flatten_list(sublist))
        else:
            flattend.append(sublist)
    return flattend
flattened_list=flatten_list(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
#29. Create a list of the first 10 Fibonacci numbers.
num = 10
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

In [120]:
# 30. Check if a list is sorted.
l11=[2,4,3,1]
if l11==l11.sort():
    print("given list sorted")
else:
    print("not sorted")
#l11.sort()
#print(l11)

not sorted

In [22]:
# 31. Rotate a list to the left by `n` positions.
def rotate_left(lst,n):
    n=n%len(lst)
    rotate_list=lst[n:]+lst[:n]
    return rotate_list
t23=[1,2,3,4,5]
n=3
result=rotate_left(t23,n)
print(result)

[4, 5, 1, 2, 3]

In [24]:
#32. Rotate a list to the right by n positions
def rotate_right(lst,n):
    n=n%len(lst)
    rotate_list=lst[-n:]+lst[:-n]
    return rotate_list
t23=[1,2,3,4,5]
n=3
result=rotate_right(t23,n)
print(result)

[3, 4, 5, 1, 2]

In [24]:
# 33. Create a list of prime numbers up to 50.
def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(50)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# 34 split a list into chunks of size n

In [41]:
# 35. Find the second largest number in a list.
l12=[2,3,4,5,6,5,8,9,8,10]
l12.sort()
print(l12[-2])

9

In [121]:
# 36. Replace every element in a list with its square.
l13=[1,2,3,6,5]
for v in l13:
    v=v**2
    print(v,end=" ")

1 4 9 36 25

In [25]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
list11=["apple","banana","cherry"]
dictionary={element: index for index, element in enumerate(list11)}
print(dictionary)

{'apple': 0, 'banana': 1, 'cherry': 2}

In [27]:
# 38. Shuffle the elements of a list randomly.
import random
list12=[1,2,3,4,5,6,7]
random.shuffle(list12)
print(list12)

[3, 4, 1, 5, 7, 2, 6]

In [131]:
# 39. Create a list of the first 10 factorial numbers.
fact=1
for v in range(1,11):
    fact=fact*v
    print(fact,end=" ")

1 2 6 24 120 720 5040 40320 362880 3628800

In [28]:
# 40. Check if two lists have at least one element in common.
def common_elements(l1,l2):
    for item in l1:
        if item in l2:
            return True
    return False
l1=[1,2,3,4,5,6]
l2=[4,5,6,7,8]
if common_elements(l1,l2):
    print("the lists have at least one common element")
else:
    print("the list do not have common element")

the lists have at least one common element

In [56]:
# 41. Remove all elements from a list.
l14=[1,2,3,4,5]
l14.clear()

In [57]:
l14

[]

In [62]:
#42. Replace negative numbers in a list with 0.
l15=[1,2,3,-2,-6]
for v in range(len(l15)):
    if l15[v]<0:
        l15[v]=0
print(l15)

[1, 2, 3, 0, 0]

In [63]:
# 43. Convert a string into a list of words.
str1=" i am learning python"
list1=str1.split()
print(list1)

['i', 'am', 'learning', 'python']

In [64]:
# 44. Convert a list of words into a string.
l15=["i am","learning","python"]
' '.join(l15)

'i am learning python'

In [29]:
# 45. Create a list of the first `n` powers of 2.
n=int(input("enter value of n"))
power=[2**i for i in range(n)]
print(power)

enter value of n 5

[1, 2, 4, 8, 16]

In [65]:
# 46. Find the longest string in a list of strings.
# 47. Find the shortest string in a list of strings.
l16=["santhosh","pavitra","ashwath","sri"]
shortest=min(l16,key=len)
longest=max(l16,key=len)
print(shortest)
print(longest)

sri
santhosh

In [31]:
# 48. Create a list of the first `n` triangular numbers.
def triangular(n):
    return[i*(i+1)//2 for i in range(1,n+1)]
n=int(input("enter n value:"))
triangular_list=triangular(n)
print(triangular_list)

enter n value: 5

[1, 3, 6, 10, 15]

In [32]:
# 49. Check if a list contains another list as a subsequence.
def sub_sequence(subsequence,main):
    index=0
    for element in main:
        if element==subsequence[index]:
            index+=1
        if index==len(subsequence):
            return True
    return False
main=[1,2,3,4,5,6,7,8]
subsequence=[3,6,8]
if sub_sequence(subsequence,main):
    print("main list contains subsequence")
else:
    print("main list not contains subsequence")

main list contains subsequence

In [68]:
# 50. Swap two elements in a list by their indices.
l17=["tomato","blue","pink","yellow"]
l17[1],l17[3]=l17[3],l17[1]
print(l17)

['tomato', 'yellow', 'pink', 'blue']

In [135]:
#tuple based questions

# 1. Create a tuple with integers from 1 to 5.
t=()
for x in range(1,6):
    t=t+(x,)
print(t)

(1, 2, 3, 4, 5)

In [88]:
# Tuple Based Practice Problem :
# 2. Access the third element of a tuple.
t1=(1,2,3,4,5)
print("the third element is:",t1[2])

the third element is: 3

In [89]:
# 3. Find the length of a tuple without using the `len()` function.
count=0
for x in t1:
    count=count+1
print(count)

5

In [136]:
#4. Count the occurrences of an element in a tuple.
t2=(2,3,4,5,3,3)
t2.count(3)

3

In [138]:
'''5. Find the index of the first occurrence of an element in a tuple.'''
t2.index(3)

1

In [9]:
# 6. Check if an element exists in a tuple.
t2=(2,3,4,5,3)
number=input("enter element")
if number in t2:
    print("element exists")
else:
    print("not exists")

enter element 25

not exists

In [10]:
# 7. Convert a tuple to a list.
t3=(1,2,3,4,5,6,7,8,9)
print(list(t3))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# 8. Convert a list to a tuple.
t4=[1,2,3,4,5,6]
print(tuple(t4))

(1, 2, 3, 4, 5, 6)

In [15]:
# 9. Unpack the elements of a tuple into variables.
t5=("pwskills",26,"sudhashu")
(blog,date,mentor)=t5
print(blog)
print(date)
print(mentor)

pwskills
26
sudhashu

In [141]:
# 10. Create a tuple of even numbers from 1 to 10.
t6=()
for x in range(2,11,2):
    t6=t6+(x,)
print(t6)

(2, 4, 6, 8, 10)

In [143]:
# 11. Create a tuple of odd numbers from 1 to 10.
t7=()
for x in range(1,10,2):
    t7=t7+(x,)
print(t7)

(1, 3, 5, 7, 9)

In [144]:
# 12. Concatenate two tuples.
print(t6+t7)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [149]:
# 13. Repeat a tuple three times.
t8=(1,2,3)
res=t8*3
print(res)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [152]:
# 14. Check if a tuple is empty.
t9=(2,3)
length=len(t9)
if length==0:
    print("tuple is empty")
else:
    print("tupel is not empty")

tupel is not empty

In [2]:
# 15. Create a nested tuple.
t10=((1,3,5),(3,5,7),('a','b','c'))
print(t10)

((1, 3, 5), (3, 5, 7), ('a', 'b', 'c'))

In [3]:
# 16. Access the first element of a nested tuple.
first_element=t10[0]
print("first element of a nested tuple:",first_element)

first element of a nested tuple: (1, 3, 5)

In [4]:
# 17. Create a tuple with a single element.
t11=(5,)
print("tuple with a single element:",t11)

tuple with a single element: (5,)

In [8]:
# 18.compare two tuples
t12=(1,2,3)
t13=(1,4,3)
print("checking equality:",t12==t13)
print("checking inequality:",t12!=t13)
print("lesshan: ",t12<t13)
print("lesshan or equal: ",t12<=t13)
print("greater than: ",t12>t13)
print("greaterthan or equal: ",t12>=t13)

checking equality: False
checking inequality: True
lesshan:  True
lesshan or equal:  True
greater than:  False
greaterthan or equal:  False

In [11]:
# 19. Delete a tuple.
t13=(1,2,3)
del t13
print(t13)

NameError: name 't13' is not defined

In [12]:
# 20. Slice a tuple.
t14=(1,2,3,4,5,6,7,8,9,10,11)
sl=t14[2:6]
print(sl)

(3, 4, 5, 6)

In [16]:
#21. Find the maximum value in a tuple.
max_value=max(t14)
print("the maximum value is:",max_value)

the maximum value is: 11

In [17]:
#22. Find the minimum value in a tuple.
min_value=min(t14)
print("the minimum value is:",min_value)

the minimum value is: 1

In [19]:
#23. Convert a string to a tuple of characters.
string="my work is done"
tuples_char=tuple(string)
print(tuples_char)

('m', 'y', ' ', 'w', 'o', 'r', 'k', ' ', 'i', 's', ' ', 'd', 'o', 'n', 'e')

In [2]:
# 24. Convert a tuple of characters to a string.
tuples_char=('H','i',' ','e','v','e','r','y','o','n','e')
string_tuple=''.join(tuples_char)
print(string_tuple)

Hi everyone

In [3]:
#25. Create a tuple from multiple data types.
t15=(2,"hi",3.15,False)
print(t15)

(2, 'hi', 3.15, False)

In [7]:
# 26. Check if two tuples are identical.
t16=(1,2,3)
t17=(2,3,4)
print("check tuples are idetical or not:",t16==t17)

check tuples are idetical or not: False

In [8]:
# 27. Sort the elements of a tuple.
t18=(3,5,8,1,6,9,2)
sort=tuple(sorted(t18))
print("sorted tuple is:",sort)

sorted tuple is: (1, 2, 3, 5, 6, 8, 9)

In [14]:
# 28. Convert a tuple of integers to a tuple of strings.
t19=(1,2,3,4,5)
y=tuple(str(x) for x in t19)
print("tuple of strings:",y)

tuple of strings: ('1', '2', '3', '4', '5')

In [15]:
#29. Convert a tuple of strings to a tuple of integers.
t20=('1','2','3','4','5')
y=tuple(int(x) for x in t20)
print("tuple of integers:",y)

tuple of integers: (1, 2, 3, 4, 5)

In [7]:
#30. Merge two tuples.
t21=(1,2,3)
t22=(2,3,4)
merge=t21+t22
print(merge)

(1, 2, 3, 2, 3, 4)

In [33]:
# 31. Flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flattened=[]
    for item in nested_tuple:
        if isinstance(item,tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return falttened
nested_tuple=((1,2),(3,4,5),(6,(7,8)))
flattened_tuple=tuple(flatten_tuple(nested_tuple))
print(flattened_tuple)

NameError: name 'falttened' is not defined

In [19]:
# 32. Create a tuple of the first 5 prime numbers.
def prime(num):
    if num<=1:
        return False
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            return False
    return True
prime_numbers=[num for num in range(2,100) if prime(num)][:5]
prime_tuple=tuple(prime_numbers)
print(prime_tuple)

(2, 3, 5, 7, 11)

In [27]:
# 33. Check if a tuple is a palindrome.
t19=(1,2,3,2,1)
if t19==t19[::-1]:
    print("given tuple is palindrome")
else:
    print("not palindrome")

given tuple is palindrome

In [30]:
# 34. Create a tuple of squares of numbers from 1 to 5.
square_tuple=[]
for i in range(1,6):
    square=i**2
    square_tuple.append(square)
print(tuple(square_tuple))

(1, 4, 9, 16, 25)

In [32]:
# 35. Filter out all even numbers from a tuple.
t20=(2,3,4,5,6)
even=[]
for v in t20:
    if v%2==0:
        even.append(v)
print(tuple(even))

(2, 4, 6)

In [43]:
# 36. Multiply all elements in a tuple by 2.
t21=(2,3,4,5,6)
double=tuple(num*2 for num in t21)
print(double)

(4, 6, 8, 10, 12)

In [47]:
# 37. Create a tuple of random numbers.
import random
random_tuple=tuple(random.randint(1,100) for i in range(10))
print(random_tuple)

(97, 49, 39, 39, 60, 60, 33, 36, 39, 56)

In [52]:
# 38. Check if a tuple is sorted.
def sorted(tup):
    for i in range(len(tup)-1):
        if tup[i]>tup[i+1]:
            return False
    return True
sorted_tuple=(1,2,3,4)
sort=sorted(sorted_tuple)
print("tuple is sorted:",sort)

tuple is sorted: True

In [58]:
#39. Rotate a tuple to the left by `n` positions.
def rotate_tuple_left(tup,n):
    n=n%len(tup)
    rotate_tuple=tup[n:]+tup[:n]
    return rotate_tuple
t23=(1,2,3,4,5)
n=3
result=rotate_tuple_left(t23,n)
print(result)

(4, 5, 1, 2, 3)

In [62]:
#40. Rotate a tuple to the right by `n` positions
def rotate_tuple_right(tup,n):
    n=n%len(tup)
    rotate_tuple=tup[-n:]+tup[:-n]
    return rotate_tuple
t23=(1,2,3,4,5)
n=3
result=rotate_tuple_right(t23,n)
print(result)

(3, 4, 5, 1, 2)

In [63]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def g_fibonacci(n):
    fibonacci=[0,1]
    while len(fibonacci)<n:
        next_number=fibonacci[-1]+fibonacci[-2]
        fibonacci.append(next_number)
    return tuple(fibonacci)
fib=g_fibonacci(5)
print(fib)

(0, 1, 1, 2, 3)

In [66]:
#42. Create a tuple from user input.
string=input("enter elements")
input_list=string.split(',')
user_tuple=tuple(input_list)
print(user_tuple)

enter elements i,a,e,r

('i', 'a', 'e', 'r')

In [69]:
# 43. Swap two elements in a tuple.
t26=(1,2,3,4,5)
ls=list(t26)
ls[1],ls[3]=ls[3],ls[1]
swapping=tuple(ls)
print(swapping)

(1, 4, 3, 2, 5)

In [70]:
#44. Reverse the elements of a tuple.
tup=(1,2,3,4,5)
tup=tup[::-1]
print(tup)

(5, 4, 3, 2, 1)

In [73]:
# 45. Create a tuple of the first `n` powers of 2.
n=5
powers=tuple(2**i for i in range(n))
print("the powers of 2",powers)

the powers of 2 (1, 2, 4, 8, 16)

In [76]:
# 46. Find the longest string in a tuple of strings.
t30=("santosh","pwskills","python")
longest=max(t30,key=len)
print("longest string is:",longest)

longest string is: pwskills

In [77]:
#47. Find the shortest string in a tuple of strings.
shortest=min(t30,key=len)
print("shortest string is:",shortest)

shortest string is: python

In [80]:
#48. Create a tuple of the first `n` triangular numbers.
n=5
tringular=tuple(i*(i+1)//2 for i in range(n))
print("the triangular numbers are:",tringular)

the triangular numbers are: (0, 1, 3, 6, 10)

In [5]:
# 49. Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main,sub):
    sub_length=len(sub)
    for i in range(len(main)-sub_length+1):
        if main[1:i+sub_length]==sub:
            return True
    return False
main=(1,2,3,4,5,6,7)
sub=(2,3,4)
contain_subseq=contains_subsequence(main,sub)
print(contain_subseq)

True

In [6]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
n=10
alt=tuple(i%2 for i in range(n))
print(alt)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [26]:
# Set based questions
#1.  create a set with integers from 1 to 5
y=set()
y.add(1)
y.add(2)
y.add(3)
y.add(4)
y.add(5)
print(y)

{1, 2, 3, 4, 5}

In [27]:
#2. Add an element to a set.
print("original set",y)
y.add(6)
print("after adding",y)

original set {1, 2, 3, 4, 5}
after adding {1, 2, 3, 4, 5, 6}

In [28]:
#3. Remove an element from a set.
print("original set",y)
y.remove(5)
print("after removing set",y)

original set {1, 2, 3, 4, 5, 6}
after removing set {1, 2, 3, 4, 6}

In [34]:
# 4. Check if an element exists in a set.
y1={2,3,4,5,6}
element=int(input("enter a number"))
if element in y1:
    print("element exists")
else:
    print("element does not exists")

enter a number 5

element exists

In [35]:
# 5. Find the length of a set without using the `len()` function.
count=0
for v in y1:
    count+=1
print("the length of set is:",count)

the length of set is: 5

In [ ]:
# 6. Clear all elements from a set.
y2={1,2,3,4,5,6}
y2.clear()
print(y2)

In [ ]:
# 7. Create a set of even numbers from 1 to 10.
y3=set()
for i in range(1,11):
    if i%2==0:
        y3.add(i)
print(y3)

In [2]:
# 8. Create a set of odd numbers from 1 to 10.
y3=set()
for i in range(1,11):
    if i%2==1:
        y3.add(i)
print(y3)

{1, 3, 5, 7, 9}

In [6]:
# 9. Find the union of two sets.
# 10. Find the intersection of two sets
#11. Find the difference between two sets.
y4={1,2,3,4}
y5={5,6,3,4}
union_set=y4.union(y5)
inter_set=y4.intersection(y5)
differ_set=y4.difference(y5)
print("union of sets are:",union_set)
print("intersection of sets are:",inter_set)
print("difference between two sets:",differ_set)

union of sets are: {1, 2, 3, 4, 5, 6}
intersection of sets are: {3, 4}
difference between two sets: {1, 2}

In [10]:
#12. Check if a set is a subset of another set.
#13. Check if a set is a superset of another set.
y6={1,2,3}
y7={1,2,3,4,5}
subset=y6.issubset(y7)
superset=y7.issuperset(y6)
print("is y6 a subset of y7:",subset)
print("is y7 a superset of y6:",superset)

is y6 a subset of y7: True
is y7 a superset of y6: True

In [11]:
#14. Create a set from a list.
list1=[1,2,3,2,3,4,5,3]
set1=set(list1)
print(set1)

{1, 2, 3, 4, 5}

In [13]:
#15. Convert a set to a list.
set2={1,2,3,4,5}
list2=list(set2)
print(list2)

[1, 2, 3, 4, 5]

In [17]:
#16. Remove a random element from a set.
import random
set3={1,2,3,4,5}
random_element=random.choice(list(set3))
print(random_element)
set3.remove(random_element)
print("after removing random element:",set3)

4
after removing random element: {1, 2, 3, 5}

In [19]:
#17. Pop an element from a set.
set4={1,2,3,4,5,6}
pop_element=set4.pop()
print("popped element:",pop_element)
print("after popping:",set4)

popped element: 1
after popping: {2, 3, 4, 5, 6}

In [22]:
#18. Check if two sets have no elements in common.
set5={1,2,3,4,5}
set6={6,7,8,9,4}
common_elements=set5.intersection(set6)
if not common_elements:
    print("no elements in common")
else:
    print("have a common element")

have a common element

In [23]:
#19. Find the symmetric difference between two sets.
set5={1,2,3,4,5}
set6={6,7,8,9,4}
symmetric_difference=set5^set6
print("symmetric difference:",symmetric_difference)

symmetric difference: {1, 2, 3, 5, 6, 7, 8, 9}

In [25]:
#20. Update a set with elements from another set.
set5={1,2,3,4,5}
set6={6,7,8,9,4}
set5.update(set6)
print("update a set:",set5)

update a set: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
# 21. Create a set of the first 5 prime numbers.
def prime(num):
    if num<=1:
        return False
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            return False
    return True
prime_set=set()
num=2
while len(prime_set)<5:
    if prime(num):
        prime_set.add(num)
    num+=1
print(prime_set)

{2, 3, 5, 7, 11}

In [28]:
# 22. Check if two sets are identical.
set5={1,2,3,4,5}
set6={4,5,3,2,1}
if set5==set6:
    print("the two sets are identical")
else:
    print("the two sets are not identical")

the two sets are identical

In [29]:
#23. Create a frozen set.
ele=[1,2,3,4,56]
frozen_set=frozenset(ele)
print(frozen_set)

frozenset({1, 2, 3, 4, 56})

In [32]:
#24. Check if a set is disjoint with another set.
set7={1,2,3,4,5}
set8={6,7,8,9}
disjoint_set=set7.isdisjoint(set8)
print(disjoint_set)

True

In [33]:
#25. Create a set of squares of numbers from 1 to 5.
squares_set=set()
for n in range(1,6):
    square=n**2
    squares_set.add(square)
print("the squares set is:",squares_set)

the squares set is: {1, 4, 9, 16, 25}

In [1]:
#26. Filter out all even numbers from a set.
set9={1,2,3,4,5,6}
set10=set()
for v in set9:
    if v%2==0:
        set10.add(v)
print(set10)

{2, 4, 6}

In [4]:
#27. Multiply all elements in a set by 2.
set9={1,2,3,4,5,6}
set11=set()
for v in set9:
    multi=v*2
    set11.add(multi)
print(set11)

{2, 4, 6, 8, 10, 12}

In [11]:
#28. Create a set of random numbers.
import random
n=5
random_set=set()
for i in range(n):
    random_num=random.randint(1,100)
    random_set.add(random_num)
print(random_set)

{64, 97, 70, 22, 93}

In [7]:
#29. Check if a set is empty.
set12={1,2}
if len(set12)==0:
    print("set is empty")
else:
    print("set is not empty")

set is not empty

In [9]:
#30. Create a nested set (hint: use frozenset).
set14={1,2,3,4,5}
set15={6,7,8,9}
forzen_set14=frozenset(set14)
frozen_set15=frozenset(set15)
nested_set={forzen_set14,frozen_set15}
print(nested_set)

{frozenset({1, 2, 3, 4, 5}), frozenset({8, 9, 6, 7})}

In [8]:
#31. Remove an element from a set using the discard method.
set13={1,2,3,4,5,6}
set13.discard(6)
print(set13)

{1, 2, 3, 4, 5}

In [15]:
#32. Compare two sets.
set14={1,2,3,4,5}
set15={6,7,8,9,4}
is_subset=set14.issubset(set15)
is_superset=set14.issuperset(set15)
intersection=set14.intersection(set15)
union=set14.union(set15)
diff1=set14.difference(set15)
diff2=set15.difference(set14)
print(is_subset)
print(is_superset)
print(intersection)
print(union)
print(diff1)
print(diff2)

False
False
{4}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 5}
{8, 9, 6, 7}

In [16]:
#33. Create a set from a string.
string1="hello"
set16=set(string1)
print(set16)

{'e', 'l', 'h', 'o'}

In [18]:
#34. Convert a set of strings to a set of integers.
string2={"789","123","456"}
integer=set()
for v in string2:
    int_value=int(v)
    integer.add(int_value)
print(integer)

{456, 123, 789}

In [20]:
#35. Convert a set of integers to a set of strings.
integer_set={1,2,3,4,6}
string_set=set()
for v in integer_set:
    string_value=str(v)
    string_set.add(string_value)
print(string_set)

{'1', '2', '4', '3', '6'}

In [21]:
#36. Create a set from a tuple.
tuple1=[1,3,3,4,5]
set20=set(tuple1)
print(set20)

{1, 3, 4, 5}

In [2]:
#37. Convert a set to a tuple.
set21={1,2,3,4,5}
tuple2=tuple(set21)
print(tuple2)

(1, 2, 3, 4, 5)

In [3]:
#38. Find the maximum value in a set.
max_value=max(set21)
print("maximum value is:",max_value)

maximum value is: 5

In [4]:
# 39. Find the minimum value in a set.
min_value=min(set21)
print("minimum value is:",min_value)

minimum value is: 1

In [3]:
# 40. Create a set from user input.
user_set=set()
print("enter user input")
while True:
    user_input=input(">")
    if user_input.lower()=='done':
        break
    user_set.add(user_input)
print("final set",user_set)

enter user input

> i,am,done
> done

final set {'i,am,done'}

In [4]:
#41. Check if the intersection of two sets is empty.
y25={1,2,3,4,5}
y26={4,5,6,7,8}
intersection=y25.intersection(y26)
if not intersection:
    print(" the intersection of two sets are empty")
else:
    print(" the intersection of two sets are  not empty")

 the intersection of two sets are  not empty

In [10]:
#42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set=set()
a,b=0,1
for i in range(6):
    fibonacci_set.add(a)
    a,b=b,a+b
print(fibonacci_set)

{0, 1, 2, 3, 5}

In [12]:
#43. Remove duplicates from a list using sets.
list11=[1,2,3,4,4,5,6,7,8,7,7]
y28=set(list11)
list12=list(y28)
print(list12)

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
#44. Check if two sets have the same elements, regardless of their count.
def same_elements(y28,y29):
    sorted_list1=sorted(list(y28))
    sorted_list2=sorted(list(y29))
    return sorted_list1==sorted_list2
y28={1,2,3,3,2,1}
y29={1,2,3}
result=same_elements(y28,y29)
if result:
    print("the sets do not have same elements")
else:
    print("the sets  have same elements")

the sets do not have same elements

In [14]:
#45. Create a set of the first `n` powers of 2.
n=5
powers=set(2**i for i in range(n))
print("the powers of 2",powers)

the powers of 2 {1, 2, 4, 8, 16}

In [3]:
#46. Find the common elements between a set and a list.
y30={1,2,3,4,5}
list2=[2,4,6,8]
convert=list(y30)
common_list = [x for x in list2 if x in convert]
print("common elements",common_list)

common elements [2, 4]

In [8]:
#47. Create a set of the first `n` triangular numbers.
n=int(input("enter the value of n"))
tringular=set(i*(i+1)//2 for i in range(n))
print("the triangular numbers are:",tringular)

enter the value of n 10

the triangular numbers are: {0, 1, 3, 36, 6, 10, 45, 15, 21, 28}

In [10]:
#48. Check if a set contains another set as a subset.
y31={1,2,3,4,5}
y32={3,4}
subset=y32.issubset(y31)
if subset:
    print("y32 is subset of y31")
else:
    print("y32 is not subset of y31")

y32 is not subset of y31

In [11]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n=10
alt=set(i%2 for i in range(n))
print(alt)

{0, 1}

In [17]:
# 50. Merge multiple sets into one.
y31={1,2,3,4,5}
y32={3,4}
merge=y31.union(y32)
print(merge)

{1, 2, 3, 4, 5}